.authorization {
    display: flex;
    padding: 0;
    list-style: none;
}

.authorization__item {
    display: flex;
    flex-direction: column;
    width: calc((99.999% - 30px) / 2);
    margin-right: 30px;
    
    &:nth-child(2n) {
        margin-right: 0;
    }
}

.authorization__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.authorization__form {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid $grey-6;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .authorization {
        display: block;
    }

    .authorization__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
