.body-slider-offer {
    padding: 14.939309% 4.668534% 0 14.005602%;
}

.body-slider-offer__txt {
    margin-bottom: 55px;
    font-size: 24px;
}

.body-slider-offer__txt p {
    margin: .6em 0;
}

.body-slider-offer__txt strong {
    font-weight: 700;
    font-size: 48px;
}

.body-slider-offer__txt *:first-child {
    margin-top: 0;
}

.body-slider-offer__txt *:last-child {
    margin-bottom: 0;
}

.body-slider-offer__button {
    min-width: 215px;
    padding-right: 40px;
    padding-left: 40px;
}
