.breadcrumbs {
    color: #fff;
    text-align: center;
}

.breadcrumbs > span {
    margin-right: 10px;
}

.breadcrumbs a {
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

.breadcrumbs__separator {
    font-size: 18px;
}