.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 18px 35px;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: normal;
    color: #fff;
    background-color: $color-main;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover,
    &:focus {
        background-color: $color-secondary;
    }

    &--inversion {
        background-color: $color-secondary;

        &:hover,
        &:focus {
            background-color: $color-main;
        }
    }

    &--white {
        color: $color-main;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    &--white-dark {
        color: $color-main;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $color-main;
        }
    }

    &--extra {
        border-radius: 3px;
    }

    &--small {
        padding: 12.5px 30px;
        font-size: 16px;
        text-transform: none;
    }

    &--smaller {
        padding: 9px 30px;
        font-weight: 400;
        font-size: 14px;
        text-transform: none;
    }

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }
}

button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}
