.catalog-settings {
    display: flex;
    flex-wrap: wrap;
}

.catalog-settings__mode {
    margin: 0 30px 0 0;
}

.catalog-settings__sorting {
    margin: 0 -15px -15px auto;
}

@media screen and (max-width: 1200px) {
    .catalog-settings {
        display: block;
    }

    .catalog-settings__mode {
        margin-bottom: 15px;
    }

    .catalog-settings__sorting {
        margin-left: 0;
    }
}
