.catalog-sorting {
    display: flex;
    padding: 0;
    list-style: none;
}

.catalog-sorting__item {
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.catalog-sorting__label {
    display: block;
    padding-bottom: 5px;
    cursor: pointer;
}

.catalog-sorting__field-box {
    position: relative;
    margin: 0;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 20px;
        width: 12px;
        height: 12px;
        background: url("img/bg/angle-down--light.svg") no-repeat center;
        background-size: contain;
        transform: translate(0, -50%);
        pointer-events: none;
    }
}

.catalog-sorting__field {
    padding-right: 52px;
    padding-top: 19px;
    padding-bottom: 19px;
    cursor: pointer;
    appearance: none;

    &:focus {
        box-shadow: 0 0 7px rgba(0, 0, 0, .2);
    }
}