.checkout-form {
    display: flex;
    align-items: flex-start;
}

.checkout-form__details {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
}

.checkout-form__details > *:last-child {
    margin-bottom: 0;
}

.checkout-form__stamp {
    width: calc((100% - 30px) / 2);
}

@media screen and (max-width: 992px) {
    .checkout-form {
        display: block;
    }

    .checkout-form__details {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .checkout-form__stamp {
        width: 100%;
    }
}
