.colors {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.colors__item {
    margin-top: 5px;
    margin-right: 10px;
}

.colors__link {
    display: block;
    padding: 3px;
    width: 26px;
    height: 26px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all .15s ease-out;

    &:hover {
        opacity: .8;
    }

    .colors__item--current & {
        border-color: #222;

        &:hover {
            opacity: 1;
        }
    }
}

.colors__sample {
    display: block;
    height: 100%;
    border-radius: 50%;
}