.comment-respond {

}

.comment-respond__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.25;
}

.comment-respond__form {

}
