.comment-form {

}

.comment-form__notes {
    margin-top: 0;
    margin-bottom: 24px;
}

.comment-form__notes sup {
    font-weight: 700;
    color: red;
}

.comment-form__button {
    min-width: 215px;
}
