.contacts-box {
    padding-top: 95px;
    padding-bottom: 80px;
    background-color: $grey;
}

.contacts-box .container {
    display: flex;
}

.contacts-box__left {
    width: 33.3333333333333%;
    margin-right: 100px;
    margin-left: 120px;
}

.contacts-box__head {
    margin-bottom: 47px;
}

.contacts-box__txt {
    margin-bottom: 35px;
}

.contacts-box__map {
    width: calc(100% - 33.3333333333333% - 340px);
    height: 400px;
    margin-right: 120px;
}
