.coupon {

}

.coupon__field {
    float: left;
    width: 200px;
    margin-right: 10px;
    background: 0 0;
    border: 1px solid $grey-6;
    border-radius: 30px;
}

.coupon__button {

}

@media screen and (max-width: 768px) {
    .coupon {
        display: flex;
    }

    .coupon__field {
        flex-grow: 1;
        float: none;
    }

    .coupon__button {
        flex-grow: 1;
    }
}

@media screen and (max-width: 500px) {
    .coupon {
        display: block;
    }

    .coupon__field {
        width: 100%;
        margin-bottom: 10px;
    }

    .coupon__button {
        width: 100%;
    }
}
