.coupon {

}

.coupon__field {
    float: left;
    width: 200px;
    margin-right: 10px;
    background: 0 0;
    border: 1px solid $grey-6;
    border-radius: 30px;
}

.coupon__button {

}
