.customer-form-login {

}

.customer-form-login__btn-and-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.customer-form-login__button {
    flex-shrink: 0;
    margin-right: 15px;
}

.customer-form-login__remember-me {
    margin: 0;
}

.customer-form-login__lost-password {
    margin: 0;
}
