.customer-form-register {

}

.customer-form-register__list {
    margin-bottom: 10px;
}

.customer-form-register__become-seller {
    margin-top: 24px;
    margin-bottom: 30px;
}

.customer-form-register__privacy-policy-txt {
    margin-top: 0;
    margin-bottom: 40px;
}

.customer-form-register__button-box {
    text-align: left;
}