.error-404 {
    padding-bottom: 0;
}

.error-404__box {
    display: flex;
    width: 1175px;
    max-width: 100%;
    margin: 0 auto;
}

.error-404__left {
    width: 56.5957446808%;
    margin-right: 60px;
    padding-top: 37px;
    padding-bottom: 30px;
}

.error-404__title {
    font-weight: 700;
    font-size: 56px;
    text-align: left;
}

.error-404__desc {
    font-size: 20px;
    
    &--only-mobile {
        display: none;
    }
}

.error-404__left > *:first-child {
    margin-top: 0;
}

.error-404__left > *:last-child {
    margin-bottom: 0;
}

.error-404__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 56.5957446808% - 60px);
}

.error-404__img {

}

@media screen and (max-width: 992px) {
    .error-404__title {
        font-size: 45px;
    }
}

@media screen and (max-width: 768px) {
    .error-404 {
        padding-bottom: 100px;
    }

    .error-404__box {
        display: block;
    }

    .error-404__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        padding: 0;
    }

    .error-404__title {
        font-size: 34px;
        text-align: center;
    }

    .error-404__desc {
        
        &--only-desktop {
            display: none;
        }
        
        &--only-mobile {
            display: block;
        }
    }
    
    .error-404__right {
        width: 100%;
    }

    .error-404__img-box {
        margin-bottom: 30px;
    }
}
