.feedback {
    padding: 100px 0;
    color: #fff;
    background-color: $color-secondary;
}

.feedback__head {
    margin: 0 120px 55px;
}

.feedback__form {
    width: 930px;
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1440px) {
    .feedback__head {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .feedback {
        padding: 70px 0;
    }
}
