.fields-list {
    padding: 0;
    list-style: none;

    &--2-columns {
        display: flex;
        flex-wrap: wrap;
    }
}

.fields-list__item {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    .fields-list--2-columns & {
        width: 100%;

        &--half {
            width: calc((100% - 30px) / 2);

            &:nth-child(odd) {
                margin-right: 30px;
            }
        }
    }

    .fields-list--big & {
        margin-bottom: 30px;
    }
}

.fields-list__item > *:last-child {
    margin-bottom: 0;
}

.fields-list__label {
    display: block;
    padding-bottom: 9px;
    font-weight: 700;
    cursor: pointer;
}

.fields-list__label sup {
    font-weight: 700;
    color: red;
}

.fields-list__rating-label {
    display: block;
    font-weight: 500;
}

.fields-list__field-box {
    position: relative;
    margin: 0;
    
    &--select::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: $color-main transparent transparent transparent;
        transform: translate(0, -50%);
    }
}

.fields-list__field {
    background-color: #fff;
    border: 1px solid $grey-6;
    
    .fields-list__field-box--select & {
        padding-right: 33px;
        appearance: none;
    }

    .fields-list--big & {
        padding: 21px 30px;

        &::placeholder {
            color: $grey-4;
        }
    }

    .fields-list--white & {
        color: #fff;
        background-color: transparent;
        border-color: rgba(255, 255, 255, .3);

        &:focus {
            box-shadow: 0 0 7px rgba(255, 255, 255, .5);
        }
        
        &::placeholder {
            color: #fff;
        }
    }
}

.fields-list__informer {
    margin-top: 10px;
}

@media screen and (max-width: 576px) {
    .fields-list__item {

        .fields-list--2-columns & {

            &--half {
                width: 100%;

                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
        }
    }
}
