.form-quick-view {
    display: flex;
    flex-wrap: wrap;
}

.form-quick-view__btn-add-to-cart {
    flex-grow: 1;
    margin: 0 10px;
}

.form-quick-view__product-actions {
    flex-shrink: 0;
    margin: 0;
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .form-quick-view__btn-add-to-cart {
        margin-right: 0;
    }

    .form-quick-view__product-actions {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 576px) {
    .form-quick-view__btn-add-to-cart {
        margin-right: 0;
    }

    .form-quick-view__product-actions {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 350px) {
    .form-quick-view__btn-add-to-cart {
        padding-right: 20px;
        padding-left: 20px;
    }
}