.form-product-detail {

}

.form-product-detail__add-to-cart {
    display: flex;
    margin: 0 0 15px 0;
}

.form-product-detail__btn-add-to-cart {
    flex-grow: 1;
    margin-left: 15px;
}

.form-product-detail__btn-extra {
    width: 100%;
}

.form-product-detail__btn-extra svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
}

.form-product-detail > *:first-child {
    margin-top: 0;
}

.form-product-detail > *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 576px) {
    .form-product-detail__btn-add-to-cart,
    .form-product-detail__btn-extra {
        padding-right: 20px;
        padding-left: 20px;
    }
}
