.form-product-detail {

}

.form-product-card__add-to-cart {
    display: flex;
    margin: 0 0 15px 0;
}

.form-product-card__btn-add-to-cart {
    flex-grow: 1;
    margin-left: 15px;
}

.form-product-card__btn-extra {
    width: 100%;
}

.form-product-card__btn-extra svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
}

.form-product-detail > *:first-child {
    margin-top: 0;
}

.form-product-detail > *:last-child {
    margin-bottom: 0;
}
