.form {

}

.form__list {
    margin: 0 0 45px 0;
}

.form__button-box {
    margin: 0;
    text-align: center;
}

.form__button {

}

.form a {
    color: $color-secondary;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.form__fieldset {
    margin: 0 0 45px 0;
    padding: 0;
    border: none;
}

.form__fieldset > *:first-child {
    margin-top: 0;
}

.form__fieldset > *:last-child {
    margin-bottom: 0;
}

.form__legend {
    display: block;
    width: 100%;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}
