.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    padding: 0;
    list-style: none;
}

.gallery__item {
    width: calc((99.999% - 30px) / 2);
    margin-right: 30px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-child(n + 3) {
        margin-top: 30px;
    }
}

.gallery__link {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 58.823529%;
    background-color: $color-main;
    border-radius: 5px;
    overflow: hidden;
    // Safari border-radius + overflow: hidden + CSS transform fix
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5) url("img/bg/magnifying-glass.svg") no-repeat center;
        background-size: 30px 30px;
        opacity: 0;
        transition-duration: .3s;
        transition-timing-function: ease-out;
        transition-property: opacity, transform, filter;
        pointer-events: none;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover .gallery__img {
        transform: scale(1.1) rotate(3deg);
    }
}

.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-out;
}

@media screen and (max-width: 576px) {
    .gallery__item {
        width: 100%;
        margin-right: 0;

        &:nth-child(n + 2) {
            margin-top: 30px;
        }
    }
}
