.login-modal {
    width: 595px;
    padding: 0;
}

.login-modal .modal-common__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    background-color: $grey-6;
}

.login-modal .modal-common__close svg {
    width: auto;
    height: auto;
}