.main-offer {
    display: flex;
    align-items: flex-start;
}

.main-offer__slider {
    flex-shrink: 0;
    width: 70.44107%;
}

.main-offer__banners {
    flex-grow: 1;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .main-offer {
        display: block;
    }

    .main-offer__slider {
        width: 100%;
    }

    .main-offer__banners {
        display: flex;
        width: 100%;
    }
}
