.main {
    width: calc(100% - 23.4042553191% - 30px);

    &--full-width {
        width: 100%;
        padding-top: 70px;
        padding-bottom: 100px;
    }
}

.main__catalog-settings {
    margin-bottom: 50px;
}

.main__products-list {
    margin: 0;
}

.main__page-info {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid $grey-3;
}

.main > .container:first-child:last-child > *:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    .main:not(.main--full-width) {
        width: calc(100% - 30.7088744588% - 30px);
    }
}

@media screen and (max-width: 768px) {
    .main {

        &:not(.main--full-width) {
            order: 1;
            width: 100%;
        }

        &--full-width {
            padding-bottom: 70px;
        }
    }
}
