.mini-cart {
    padding: 20px;
}

.mini-cart__head {
    margin-bottom: 15px;
}

.mini-cart__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    text-transform: uppercase;
}

.mini-cart__close {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 15px;
    background-color: transparent;
    border: none;

    &:focus {
        outline: none;
    }
}

.mini-cart__list-wr {
    margin: 0 0 15px 0;
    //max-height: 360px;
    max-height: 49.861496vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.mini-cart__list {
    @include reset-list;
}

.mini-cart__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey-3;

    &:last-child {
        margin-bottom: 0;
    }
}

.product-mini-cart__total {
    margin-top: 0;
    margin-bottom: 20px;
}

.mini-cart__buttons {
    display: flex;
}

.mini-cart__button {
    flex-grow: 1;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {
    .mini-cart__title {
        margin-right: 30px;
    }

    .mini-cart__close {
        display: block;
    }
    
    .mini-cart__list-wr {
        max-height: calc(100vh - 185px); // отнять как минимум 182.2px
    }
}
