.modal-quick-view {
    width: 1030px;
    padding-right: 15px;
    padding-left: 15px;
}

.modal-quick-view__body {
    display: flex;
}

.modal-quick-view__left {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
}

.modal-quick-view__product-gallery-wr {
    position: relative;
}

.modal-quick-view__label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    margin: 0;
}

.modal-quick-view__product-gallery {
    margin-bottom: 30px;
}

.modal-quick-view__product-gallery-side {
    width: 400px;
    margin: 0 auto;
}

.modal-quick-view__right {
    width: calc((100% - 30px) / 2);
}

.modal-quick-view__head {
    margin-bottom: 21px;
    border-bottom:  1px solid $grey-6;
}

.modal-quick-view__name {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
}

.modal-quick-view__review {
    margin-bottom: 20px;
}

.modal-quick-view__status {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;

    &--in-stock {
        color: #3cb111;
    }
    
    &--on-order {
        color: #ff5c00;
    }
}

.modal-quick-view__description {
    margin-bottom: 31px;
}

.modal-quick-view__price {
    margin-top: 0;
    margin-bottom: 37px;
}

.modal-quick-view__form {
    margin-bottom: 25px;
}

.modal-quick-view__product-meta {
    margin: 0;
}