.modal-login-form {

}

.modal-login-form__list {
    margin-bottom: 18px;
}

.modal-login-form__remember-me {
    margin-bottom: 22px;
}

.modal-login-form__button {
    width: 100%;
}

.modal-login-form__lost-password {
    margin-top: 26px;
}
