.modal-register-form {

}

.modal-register-form__list {
    margin-bottom: 20px;
}

.modal-register-form__informer {
    margin-top: 10px;
    margin-bottom: 0;
}

.modal-register-form__button {
    width: 100%;
}
