.modal-common {
    width: 720px;
    padding-top: 55px;
    padding-bottom: 55px;
    //background-color: #f9f9f9;
    border-radius: 4px;
}

.fancybox-slide--html .modal-common__close {
    width: 45px;
    height: 45px;
    padding: 15px;
    opacity: .5;
    transition: all .15s ease-out;

    &:hover,
    &:focus {
        opacity: .9;
    }
}

@media screen and (max-width: 576px) {
    .modal-common {
        padding-right: 15px;
        padding-left: 15px;
    }
}
