.page-content {
    padding-top: 70px;
    padding-bottom: 100px;
}

.page-content .container {
    display: flex;
}

.page-content__sidebar {
    margin-right: 30px;
}

.page-content__main {
    flex-grow: 1;
}

.page-content__posts-list {
    margin: 0;
}
