.page-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.page-info__count {
    color: $grey-4;
    margin: 0 30px 0 0;
}

.page-info__count span {
    color: $color-main;
}

.page-info__pagination {
    flex-shrink: 0;
    margin: -10px -10px 0 auto;
}

@media screen and (max-width: 1440px) {
    .page-info {
        display: block;
    }
    
    .page-info__count {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
