.popular-categories {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: $grey;
}

.popular-categories__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-categories__item {
    width: calc(100% + 60px);
    margin: 0 -30px 50px -30px;

    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .popular-categories {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
