.popular-categories {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: $grey;
}

.popular-categories__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-categories__item {
    width: calc(100% + 60px);
    margin: 0 -30px 50px -30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.popular-categories__title {
    margin-top: 0;
    margin-bottom: 45px;
}