.posts-list {
    padding: 0;
    list-style: none;

    &--3-column {
        display: flex;
        flex-wrap: wrap;
    }
}

.posts-list__item {

    .posts-list--1-column & {
        margin-bottom: 70px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .posts-list--3-column & {
        width: calc((100% - 60px) / 3);
        margin-right: 30px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n + 4) {
            margin-top: 50px;
        }
    }
}