.price-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.price-box ins {
    font-weight: 500;
    font-size: 20px;
    color: $color-accent;
    text-decoration: none;

    .products-list--mode--list & {
        font-size: 30px;
    }
}

.price-box--big ins {
    font-size: 30px;
}

.price-box del {
    margin-right: 15px;
    font-size: 13px;
    color: $grey-4;

    .products-list--mode--list & {
        font-size: 20px;
    }
}

.price-box--big del {
    font-size: 19px;
}

@media screen and (max-width: 992px) {
    .price-box ins {

        .products-list--mode--list & {
            font-size: 24px;
        }
    }

    .price-box--big ins {
        font-size: 24px;
    }

    .price-box del {

        .products-list--mode--list & {
            font-size: 16px;
        }
    }

    .price-box--big del {
        font-size: 16px;
    }
}
