.product-meta {
    padding: 0;
    list-style: none;
}

.product-meta__item {
    display: flex;
    align-items: baseline;
    margin-bottom: 13px;

    &:last-child {
        margin-bottom: 0;
    }
}

.product-meta__term {
    flex-shrink: 0;
    //width: 22.68%;
    width: 110px;
    margin: 0 15px 0 0;
    font-weight: 700;
    font-size: 16px;
}

.product-meta__value {
    flex-grow: 1;

    &--social {
        display: flex;
    }
}

.product-meta__value a {
    color: $color-main;
}

.product-meta__value--list-links a {
    transition: all .15s ease-out;
    color: $grey-7;

    &:hover,
    &:focus {
        color: $color-secondary;
    }
}

.product-meta__social-extra {
    margin: -5px -14px;
}
