.product-label {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.product-label__item {
    min-width: 42px;
    margin-right: 10px;
    padding: 1px 8px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 10px;

    &--sale {
        background-color: $color-accent;
    }
    
    &:last-child {
        margin-right: 0;
    }
}