.product-detail {
    width: 930px;
    max-width: 100%;
    padding-top: 90px;
}

.product-detail > *:last-child {
    margin-bottom: 0;
}

.product-detail__name {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 36px;
}

.product-detail__review {
    justify-content: center;
    margin-bottom: 22px;
    padding-bottom: 18px;
    border-bottom: 1px solid $grey-6;
}

.product-detail__info {
    margin: 0 -15px 33px -15px;
}

.product-detail__price {
    margin-top: 0;
    margin-bottom: 33px;
    text-align: center;
}

.product__description {
    margin-bottom: 33px;
    text-align: center;
}

.product-detail__form {
    width: 450px;
    max-width: 100%;
    margin: 0 auto 38px;
}

@media screen and (max-width: 576px) {
    .product-detail__name {
        font-size: 24px;
    }
}
