.product-tabs {
    padding-bottom: 45px;
    border-bottom: 1px solid $grey-6;
}

.product-tabs__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -13px 0 0 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $grey-6;
}

.product-tabs__nav li {

}

.product-tabs__nav a {
    display: block;
    padding: 13px 25px;
    font-weight: 500;
    font-size: 20px;
    color: $grey-3;
    border-bottom: 2px solid transparent;
    transition: all .15s ease-out;

    &:hover {
        color: $color-main;
    }

    &:focus {
        outline: none;
    }
}

.product-tabs .ui-tabs-active a {
    color: $color-main;
    border-bottom-color: $color-secondary;
}

.product-tabs__body {
    padding-top: 45px;
}

.product-tabs__reviews {
    margin: 0 0 38px 0;
}
