.product-categories {
    padding-top: 90px;
    padding-bottom: 55px;
}

.product-categories__title {
    padding: 0 145px;
}

.product-categories__slider {
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
}

@media screen and (max-width: 768px) {
    .product-categories {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .product-categories__title {
        padding: 0;
    }
}