.product-actions {
    display: flex;
    padding: 0;
    list-style: none;
}

.product-actions__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.product-actions__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid $color-main;
    border-radius: 3px;
    transition: all .15s ease-in;

    &:hover,
    &:focus {

        & {
            background-color: $color-secondary;
            border-color: $color-secondary;
        }

        .product-actions__icon {
            fill: #fff;
        }
    }
}

.product-actions__icon {
    transition: all .15s ease-in;
}
