.product-slider {
    @include slider-fix(360px);
}

.product-slider__item {
    padding: 0 15px;
}

.product-slider a {

    &:focus {
        outline: none;
    }
}

.product-slider__arrow {
    position: absolute;
    top: -63px;

    &--prev {
        right: 70px;
    }

    &--next {
        right: 15px;
    }
}