.product-item {
    display: flex;
    flex-direction: column;

    &:hover .product-item__link::before {
        opacity: 1;
    }

    &:hover .product-item__additional {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    .products-list--list-mode & {
        flex-direction: row;
    }
}

.product-item__thumb {
    position: relative;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    border-radius: 6px;

    &:hover .product-item__img-box:first-of-type {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    &:hover .product-item__img-box:last-of-type {
        opacity: 1;
        transform: rotateY(0);
    }

    .products-list--list-mode & {
        flex-shrink: 0;
        width: 330px;
        height: 330px;
        margin-right: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.product-item__label {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    margin: 0;
}

.product-item__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 6px;
        opacity: 0;
        transition: all .3s ease-out;
        pointer-events: none;
    }
}

.product-item__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    //padding: 30px;
    padding: 15px;
    transition: all .3s ease-out;

    &:last-of-type {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: rotateY(90deg);
    }
}

.product-item__img {
    max-height: 100%;
    object-fit: cover;
}

.product-item__additional {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: 0;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.product-item__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;

    .products-list--list-mode & {
        display: block;
        text-align: left;
    }
}

.product-item__name {
    display: block;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 16px;
    color: $color-main;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    .products-list--list-mode & {
        font-size: 30px;
        line-height: 1.25;
    }
}

.product-item__footer {
    margin-top: auto;
}

.product-item__review {
    justify-content: center;
    margin-bottom: 5px;

    .products-list--list-mode & {
        justify-content: flex-start;
    }
}

.product-item__price {
    margin: 0;
}

.product-item__description {
    display: none;
    margin-top: 10px;

    .products-list--list-mode & {
        display: block;
    }
}