.product-slider {
    @include slider-fix(360px);
}

.product-slider__item {
    padding: 0 15px;
}

.product-slider a {

    &:focus {
        outline: none;
    }
}

.product-slider__arrow {
    position: absolute;
    top: -63px;

    &--prev {
        right: 70px;
    }

    &--next {
        right: 15px;
    }
}

.product-slider .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
}

.product-slider .slick-dots li {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.product-slider .slick-dots button {
    display: block;
    width: 13px;
    height: 13px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
    transition: all .3s ease;
}

.product-slider .slick-active button {
    background-color: $color-secondary;
}

@media screen and (max-width: 992px) {
    .product-slider__arrow {
        top: 50%;
        transform: translate(0, -50%);

        &--prev {
            right: auto;
            left: 15px;
        }

        &--next {
            right: 15px;
        }
    }
}