.products-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    
    &--list-mode {
        display: block;
    }
}

.products-list__item {
    margin-right: 30px;

    .products-list--3-columns & {
        width: calc((100% - 60px) / 3);

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n + 4) {
            margin-top: 42px;
        }
    }

    .products-list--4-columns & {
        width: calc((100% - 90px) / 4);

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-child(n + 5) {
            margin-top: 42px;
        }
    }

    .products-list--list-mode & {
        width: 100%;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

}