.product-actions {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.product-actions__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.product-actions__link {
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 60px;
    min-width: 60px;
    height: 60px;
    border: 1px solid $color-main;
    border-radius: 3px;
    transition: all .15s ease-in;

    &:hover,
    &:focus {

        & {
            background-color: $color-secondary;
            border-color: $color-secondary;
        }

        .product-actions__icon {
            fill: #fff;
        }
    }
}

.product-actions__icon {
    transition: all .15s ease-in;
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .form-quick-view__product-actions .product-actions__item {
        flex-grow: 1;
    }

    .form-quick-view__product-actions .product-actions__link {
        flex-grow: 1;
    }
}

@media screen and (max-width: 576px) {
    .form-quick-view__product-actions .product-actions__item {
        flex-grow: 1;
    }

    .form-quick-view__product-actions .product-actions__link {
        flex-grow: 1;
    }
}