.review {
    display: flex;
    min-height: 160px;
    padding: 30px;
    border: 1px solid $grey-6;
    border-radius: 6px;
}

.review__avatar-box {
    flex-shrink: 0;
    margin: 0 20px 0 0;
}

.review__avatar {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.review__body {
    flex-grow: 1;
}

.review__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.review__meta {
    margin: 0 30px 0 0;
}

.review__author {
    font-weight: 500;
    font-size: 20px;
}

.review__dash {

}

.review__published-date {

}

.review__rating {
    flex-shrink: 0;
}

.review__txt {

}

@media screen and (max-width: 768px) {
    .review {
        padding: 15px;
    }
}

@media screen and (max-width: 576px) {
    .review {
        display: block;
    }

    .review__avatar-box {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .review__avatar {
        margin: 0 auto;
    }
    
    .review__head {
        display: block;
    }

    .review__meta {
        margin-right: 0;
    }
}
