.reviews {
    padding-top: 90px;
    padding-bottom: 100px;
}

.reviews__title {
    margin-top: 0;
    margin-bottom: 15px;
}

.reviews__slider {
    width: calc(100% + 40px);
    margin-right: -20px;
    margin-left: -20px;
}
