.review {
    display: flex;
    min-height: 160px;
    padding: 30px;
    border: 1px solid $grey-6;
    border-radius: 6px;
}

.review__avatar-box {
    flex-shrink: 0;
    margin: 0 20px 0 0;
}

.review__avatar {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.review__body {
    flex-grow: 1;
}

.review__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.review__meta {
    margin: 0 30px 0 0;
}

.review__author {
    font-weight: 500;
    font-size: 20px;
}

.review__dash {

}

.review__published-date {

}

.review__rating {

}

.review__txt {

}