.section-head {
    position: relative;
    font-weight: 500;

    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        margin-top: 22px;
        background-color: $color-secondary;
    }
    
    &--white::after {
        background-color: #fff;
    }

    &--centered {
        text-align: center;

        &::after {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.section-head__subtitle {
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 16px;
    text-transform: uppercase;
    color: $color-secondary;

    .section-head--white & {
        color: #fff;
    }
}

.section-head__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.25;
}

@media screen and (max-width: 576px) {
    .section-head__title {
        font-size: 24px;
    }
}
