.shop-table {
    border-collapse: collapse;
    text-align: left;
}

.shop-table tr {
    border-bottom: 1px solid $grey-6;
}

.shop-table tbody tr:last-child {
    border-bottom: none;
}

.shop-table th {
    font-weight: 700;
    font-size: 20px;
}

.shop-table th,
.shop-table td {
    padding: 20px 10px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.shop-table__remove {

    svg {
        display: block;
    }
}

.shop-table__remove-button {
    display: block;

    &:hover svg {
        animation: .6s shake-custom;
        fill: $color-secondary;
    }
}

.shop-table__remove-button svg {
    transition: all .15s ease-out;
}

.shop-table__thumbnail {
    
}

.shop-table__thumbnail img {
    width: 90px;
    min-width: 90px;
    max-height: 90px;
    object-fit: contain;
}

.shop-table__thumbnail a {
    display: block;
}

.shop-table__name {

}

.shop-table__name-link {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: $color-main;
    transition: all .15s ease-out;

    &:hover,
    &:focus {
        color: $color-secondary;
    }
}

.shop-table__status {
    display: block;
    font-size: 12px;

    &--in-stock {
        color: #3cb111;
    }

    &--on-order {
        color: #ff5c00;
    }
}

.shop-table__price {
    font-size: 20px;
    line-height: 1.25;
    white-space: nowrap;
    color: $color-accent;
}

.shop-table__subtotal {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    white-space: nowrap;
    color: $color-accent;
}

.shop-table__coupon {
    float: left;
    margin-right: 15px;
}

.shop-table__btn-update-cart {
    float: right;
}

@media screen and (max-width: 1440px) {
    .shop-table__thumbnail img {
        width: 75px;
        min-width: 75px;
        max-height: 75px;
    }
}

@media screen and (max-width: 992px) {
    .cart__box {
        display: block;
    }

    .cart__form {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 768px) {
    .shop-table thead {
        display: none;
    }

    .shop-table tr:nth-child(even) {
        background-color: $grey-2;

        &:last-child {
            background-color: #fff;
        }
    }

    .shop-table th,
    .shop-table td {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: right;
        border-bottom: 1px solid $grey-6;

        &:first-child {
            padding-left: 10px;
        }

        &:last-child {
            padding-right: 10px;
            border-bottom: none;
        }
    }

    td.shop-table__remove:first-child {
        padding: 0;
    }

    .shop-table__remove-button {
        padding: 15px;
    }

    .shop-table td[data-title]::before {
        content: attr(data-title) ": ";
        display: block;
        flex-shrink: 0;
        width: 30%;
        min-width: 100px;
        margin-right: 15px;
        font-weight: 600;
        text-align: left;
    }

    .shop-table__thumbnail a {
        margin: 0 auto;
    }

    .shop-table__thumbnail img {
        width: auto;
        min-width: 150px;
        max-height: 150px;
    }

    td.shop-table__actions:first-child {
        display: block;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }

    .shop-table__coupon {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .shop-table__btn-update-cart {
        width: 100%;
        float: none;
    }
}