.sidebar {
    width: 23.4042553191%;
}

.sidebar__search {
    margin-bottom: 50px;
}

//.sidebar__widgets {
//    margin: 0 0 55px 0;
//}

.sidebar .widget {
    margin-bottom: 55px;
}

.sidebar__banner {
    display: block;
}

.sidebar__banner img {
    border-radius: 6px;
}

.sidebar > *:first-child {
    margin-top: 0;
}

.sidebar > *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    .sidebar {
        width: 30.7088744588%;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        order: 2;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .sidebar__banner img {
        width: 100%;
    }
}
