.slider-arrow {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: $grey;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .15s ease-out;

    &:hover {
        background-color: $color-secondary;

        & .slider-arrow__icon {
            fill: #fff;
        }
    }

    &:focus {
        outline: none;
    }
    
    &--white {
        background-color: #fff;
    }
}

.slider-arrow__icon {
    transition: all .15s ease-out;

    .slider-arrow--prev & {
        margin-right: 2px;
    }

    .slider-arrow--next & {
        margin-left: 2px;
    }
}