.subcategory-tabs {
    overflow: hidden;
}

.subcategory-tabs__nav {
    margin: 0 0 15px -15px;
    padding: 0 145px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.subcategory-tabs__nav li {

}

.subcategory-tabs__nav a {
    position: relative;
    display: block;
    padding: 15px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-main;
    transition: all .15s ease-out;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 15px;
        left: 15px;
        height: 2px;
        background-color: transparent;
    }

    &:hover {
        color: $color-secondary;
    }

    &:focus {
        outline: none;
    }
}

.subcategory-tabs .ui-state-active a {
    color: $color-secondary;

    &::before {
        background-color: $color-secondary;
    }
}

.subcategory-tabs__body {
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
}

.subcategory-tabs__slider {

}

@media screen and (max-width: 1200px) {
    .subcategory-tabs__nav {
        margin: -4px 0 30px -10px;
    }

    .subcategory-tabs__nav a {
        padding: 4px 10px 0;
    }

    .subcategory-tabs .ui-state-active a::before {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .subcategory-tabs__slider {
        //margin-bottom: -10px;
        //padding-bottom: 10px;
    }

    .subcategory-tabs__nav {
        padding-right: 0;
    }
}
