.subscription {
    display: flex;
    align-items: center;
    margin-top: -85px;
    padding: 60px 50px;
    //background: linear-gradient(45deg, rgba(229, 58, 98, 1) 0%, rgba(228, 111, 128, 1) 40%, rgba(229, 74, 46, 1) 100%);
    //background-image: linear-gradient(to right top, #2552e4, #4b5dde, #6267d8, #7373d2, #827ecc, #778ad0, #7094d0, #6f9dce, #55a7cc, #49b0c3, #54b6b4, #6cbaa2);
    background-image: linear-gradient(to right top, #2552e4, #0063e6, #0071e5, #007ee2, #0089dd, #008fd8, #0095d2, #009acb, #009dc4, #009fbb, #00a0b1, #00a1a7);
    border-radius: 6px;
}

.subscription__txt {
    margin: 0 30px 0 0;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.subscription__form {
    flex-shrink: 0;
    width: 65.89%;
    margin-left: auto;
}

.subscription__body {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.subscription__field-box {
    flex-grow: 1;
    margin: 0 30px 0 0;
}

.subscription__field {
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;

    &:focus {
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }

    &::placeholder {
        color: $grey-4;
    }
}

.subscription__button {
    border-radius: 6px;
}

.subscription__agreement {
    margin: 0;
    font-size: 12px;
}

.subscription__agreement a {
    text-decoration: underline;
    color: #fff;
    transition: all .15s ease-out;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-main;
    }
}

@media screen and (max-width: 992px) {
    .subscription {
        display: block;
        padding: 50px 30px 55px;
    }

    .subscription__txt {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .subscription__form {
        width: 100%;
    }

    .subscription__field-box {
        margin-right: 15px;
    }
}

@media screen and (max-width: 576px) {
    .subscription {
        padding-right: 15px;
        padding-left: 15px;
    }

    .subscription__body {
        display: block;
    }

    .subscription__field-box {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .subscription__button {
        width: 100%;
    }
}