.workshop {

}

.workshop__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.workshop__table th,
.workshop__table td {
    padding: 5px 10px;
}

.workshop__table tr:nth-child(1) th {

    &:nth-child(1) {
        width: 81.8548387096%;
    }

    &:nth-child(2) {
        width: 14.9193548387%;
    }

    &:nth-child(3) {
        width: 3.2258064517%;
    }
}

.workshop__table th {
    font-weight: 500;
    color: #fff;
    background-color: $color-main--light;

    &:first-child {
        padding-left: 25px;
    }
}

.workshop__table td {

    &:first-of-type {
        padding-left: 40px;
    }
}

.workshop__tags {
    margin-right: -7px;
}

.workshop__tags a {
    margin-right: 7px;

    &:first-of-type {
        margin-left: 7px;
    }
}

@media screen and (max-width: 576px) {
    .workshop__table td {

        &:first-of-type {
            padding-left: 15px;
        }
    }
}