.wp-pagenavi {
    display: flex;
    flex-wrap: wrap;
}

.wp-pagenavi span,
.wp-pagenavi a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    //font-size: 20px;
    font-size: 16px;
    color: $grey-3;
    border: 1px solid $grey-3;
    border-radius: 4px;
}

.wp-pagenavi a {
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        color: $color-main;
        border-color: $color-main;
    }

    &:hover svg,
    &:focus svg {
        fill: $color-main;
    }
}

.wp-pagenavi .current {
    color: $color-main;
    border-color: $color-main;
    cursor: default;
}

.wp-pagenavi .extend {
    cursor: not-allowed;
}

.wp-pagenavi svg {
    transition: all .15s ease-in;
}

.wp-pagenavi .show-all {
    padding-right: 25px;
    padding-left: 25px;
}

@media screen and (max-width: 1200px) {
    .wp-pagenavi span,
    .wp-pagenavi a {
        min-width: 45px;
        height: 45px;
    }

    .wp-pagenavi .show-all {
        padding-right: 15px;
        padding-left: 15px;
    }
}
