.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 21px 30px;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    font-weight: 700;
    letter-spacing: .285714em;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: normal;
    background-color: transparent;
    border: 1px solid $color-main;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover,
    &:focus {
        color: #fff;
        background-color: $color-main;
    }

    &--white {
        color: #fff;
        border-color: #fff;
    }
}
