// Colors
//$color-main--lightest: #b7b7b7;
//$color-main--lighten:  #8f8f8f;
$color-main--light:      #323337;
$color-main:             #222222;
//$color-main--dark:     #2C2C2C;
//$color-main--darken:   #1F1F1F;
//$color-main--darkest:  #0D0D0D;

$color-secondary:        #2552e4;
$color-accent:           #e5492e;

$grey:                   #f5f5f5;
$grey-2:                 #f9f9f9;
$grey-6:                 #ebebeb;
$grey-3:                 #cccccc;
$grey-4:                 #999999;
$grey-5:                 #555555;

$color-warning:          #fb5258;
